<%- include('./includes/head') %>

<div class="container">
    <%- include('./includes/navbar') %>
    <div class="pt-2">

        <div class="jumbotron">
            <h1 class="display-4">Hello</h1>
            <p class="lead">This is simple project that was done for the purpose of learning nodes. Please view the About page for more details.</p>
            <hr class="my-4">
            <p>Here are some links that points to another pages. You can also find them in navbar up top.</p>
            <a class="btn btn-outline-primary btn-lg" href="/about" role="button">About Page</a>
            <a class="btn btn-outline-primary btn-lg" href="/addBooks" role="button">Add Books Page</a>
            <a class="btn btn-outline-primary btn-lg" href="/allBooks" role="button">View All Books Page</a>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>


<%- include('./includes/end') %>