<%- include('./includes/head') %>

<div class="container">
    <%- include('./includes/navbar') %>
    <div class="pt-2">

        <div class="jumbotron">
            <h1 class="display-4">About Page</h1>
            <p class="lead">This is About Page. This page is still underconstruction so come back later.</p>
            <hr class="my-4">
            <p>I plan on doing this page later in the project.</p>
            <a class="btn btn-outline-primary btn-lg" href="/about" role="button">About Page</a>
            <a class="btn btn-outline-primary btn-lg" href="/addBooks" role="button">Add Books Page</a>
            <a class="btn btn-outline-primary btn-lg" href="/allBooks" role="button">View All Books Page</a>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>


<%- include('./includes/end') %>