<%- include('./includes/head') %>

<div class="container">
    <%- include('./includes/navbar') %>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>


<%- include('./includes/end') %>